@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background-color: #171a21;
  color: #fff;
  margin: 0;
  overflow: hidden;
}
.boxing {
  border: solid 2px red;
}
nav {
  background-color: #171a21;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  list-style: none;
  position: relative;
}

.threept {
  height: 30px;
  width: 30px;
  background-image: url(../images/3pt.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 0 0 20px;
}
.threept:hover {
  background-image: url(../images/3pthover.png);
}
.profilepb {
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-image: url(../images/118764484_117117200995766_3549135838940825150_n.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.plus {
  height: 30px;
  width: 30px;
  background-image: url(../images/Plus.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 160px;
}
.iconbox {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.scrolllist {
  height: 400px;
  overflow-y: scroll;
}
.scrolllist::-webkit-scrollbar {
  width: 10px;
}
.scrolllist::-webkit-scrollbar-track {
  background: #171a21;
}
.scrolllist::-webkit-scrollbar-thumb {
  background: #222731;
  border-radius: 100vw;
}
.scrolly {
  overflow-y: scroll;
  overflow-x: hidden;
}
.scrollx {
  overflow-x: scroll;
  overflow-y: hidden;
}
.scrollx::-webkit-scrollbar {
  width: 10px;
}
.scrollx::-webkit-scrollbar-track {
  background: #171a21;
}
.scrollx::-webkit-scrollbar-thumb {
  background: #222731;
  border-radius: 100vw;
}
.friendlisthordirection {
  width: 1400px;
  display: flex;
}
.plus:hover {
  background-image: url(../images/Plushover.png);
}
nav ul li a {
  color: #c7d5e0;
  text-decoration: none;
}
nav ul li a:hover {
  color: #fff;
}
nav ul li ul {
  display: none;
  position: absolute;
  background-color: #101217;
  margin-top: 6px;
  padding: 7px;
  border-radius: 2px;
  font-size: 12px;
  z-index: 2;
}
nav ul li:hover ul {
  display: block;
}
.steamlogo {
  flex-grow: 1;
  height: 50px;
  width: 110px;
  background-image: url(../images/logo_steam.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  margin-left: 10px;
}

.sortlayer {
  height: 643px;
  width: 1494px;
  margin: 0 1% 0 1%;
  background-image: linear-gradient(to right, #1b2735, #2a475e, #1b2735);
  border-radius: 2px;
}
.badgebg {
  height: 90px;
  width: 160px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 7px;
  box-shadow: 1.5px 1.5px 5px 1px rgba(15, 15, 15, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2a475e;
}
.badgebg:hover {
  cursor: pointer;
  box-shadow: 1.5px 1.5px 5px 1px rgba(8, 33, 146, 0.8);
}
.bggallery {
  height: 130px;
  margin: 0 8px 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.defaultbg {
  margin: 0 8px 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c7d5e0;
}
.bgheadtext {
  flex-grow: 0;
  width: 630px;
}
.bgheadtext2 {
  flex-grow: 0;
  width: 437px;
}
.headdivider {
  height: 0;
  border: 1px solid #c7d5e0;
  width: 100%;
  margin: 0 12px 0 8px;
}
.grid {
  position: relative;
}
.item {
  display: block;
  position: absolute;
  margin: 0 10px;
  z-index: 1;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.group {
  background-image: url(../images/681494.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.groupbox {
  height: 186px;
  width: 840px;
  margin: 7.5px auto;
  background-color: #1b2838;
  border: 4px solid #171a21;
}
.friendheader {
  display: flex;
  justify-content: center;
  align-self: center;
}
.launchbox {
  height: 605px;
  width: 605px;
  margin: 7.5px auto;
  background-color: #1b2838;
  border: 4px solid #171a21;
}
.bgbox {
  height: 605px;
  width: 605px;
  margin: 7.5px auto;
  background-color: #1b2838;
  border: 4px solid #171a21;
  overflow-y: scroll;
  overflow-x: hidden;
}
.bgbox::-webkit-scrollbar {
  width: 10px;
}
.bgbox::-webkit-scrollbar-track {
  background: #171a21;
}
.bgbox::-webkit-scrollbar-thumb {
  background: #222731;
  border-radius: 100vw;
}
.launchcontent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.launchmessage {
  height: 100%;
  width: 100%;
  background-color: #2a475e;
}
.launchboxing {
  border-radius: 2px;
  margin: 4%;
  background-color: #1b387e;
  padding: 2%;
}
.launchboxing ol {
  margin: 0;
  padding: 2%;
  font-size: 14px;
  text-align: left;
}
.launchboxing h1 {
  font-size: 20px;
}
.launchboxing p {
  font-size: 14px;
  text-align: justify;
}
.launchmessage button {
  height: 40px;
  width: 100px;
  background-color: #3b6491;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

.selectbox {
  height: 380px;
  width: 70px;
  background-color: #1b387e;
  border-radius: 4px;
  border: 4px solid #171a21;
  margin: 7.5px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.friendbox {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 605px;
  width: 255px;
  margin: 7.5px auto;
  background-color: #1b2838;
  border: 4px solid #171a21;
}
.friendbox::-webkit-scrollbar {
  width: 10px;
}
.friendbox::-webkit-scrollbar-track {
  background: #171a21;
}
.friendbox::-webkit-scrollbar-thumb {
  background: #222731;
  border-radius: 100vw;
}
.friend {
  background-color: #2a475e;
  margin: 0 0 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 220px;
  border-radius: 4px;
}
.paddbott {
  padding-bottom: 8px;
}
.status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.friendavatar {
  width: 70px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 2px;
  font-size: 12px;
  margin-left: -15px;
}
.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbarhor {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.divider {
  margin: 2.5px 5px 5px 22px;
  width: 210px;
  border: 1px solid #696969;
}

.searchbarfriend {
  font-family: "Montserrat", sans-serif;
  padding: 0 0 0 15px;
  margin: 5px 0;
  height: 30px;
  background-color: #0e1118;
  color: #696969;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
}
.lupe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  margin: 5px 0;
  height: 30px;
  background-color: #0e1118;
  color: #696969;
  border-radius: 0 4px 4px 0;
}
.lupe:hover {
  background-color: #191e2a;
}
.act {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.actbadgeonline {
  margin: 0 4px 0 6px;
  height: 10px;
  width: 10px;
  background-image: url(../images/Onlinebadge.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.actbadgeclosed {
  margin: 0 4px 0 6px;
  height: 10px;
  width: 10px;
  background-image: url(../images/Nichtstoerenbadge.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.actbadgeoffline {
  margin: 0 4px 0 6px;
  height: 10px;
  width: 10px;
  background-image: url(../images/Offlinebadgee.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.avatarpb {
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  margin-bottom: -10px;
}
.max {
  background-image: url(../images/266129724_404028944806233_2843987818029489365_n.jpg);
}
.duncan {
  background-image: url(../images/251894087_118871590656916_7333754042763064315_n.jpg);
}

.makimaa {
  background-image: url(../images/Makima.jpeg);
}

.tim {
  background-image: url(../images/247436365_1303098926860529_2003554120998704512_n.jpg);
}
.karl {
  background-image: url(../images/300681745_413111917595020_7940079255921179546_n.jpg);
}

.jonas {
  background-image: url(../images/311646722_457145309854691_3156487724910796658_n.jpg);
}
.currgame {
  margin-top: -10px;
  font-size: 11px;
  align-self: flex-start;
}

.currgame p a {
  text-decoration: none;
  color: #fff;
}
.currgame p a:hover {
  color: #c1c1c1;
}
.paddscroll {
  padding-right: 15px;
}
.boxheader {
  height: 25px;
  width: 100%;
  background-color: #171a21;
  display: flex;
  align-items: center;
  color: #c7d5e0;
}
.boxheaderfriendhor {
  height: 25px;
  width: 1428px;
  background-color: #171a21;
  display: flex;
  align-items: center;
  color: #c7d5e0;
}

.boxheader p {
  margin: 0 0 0 8px;
}
.groupbox p {
  color: #cccccc;
}
.gamegallery {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.columndisplay {
  height: 100%;
  width: 98%;
  flex-direction: column;
}
ion-icon {
  height: 20px;
  width: 20px;
}
.headericon {
  color: #fff;
  height: 28px;
  width: 28px;
  padding: 12px;
  margin: 8px;
  border-radius: 4px;
  background-image: linear-gradient(
    to bottom right,
    rgb(79, 79, 79),
    rgb(44, 44, 44)
  );
}
.headericonused {
  color: #696969;
  height: 28px;
  width: 28px;
  background-color: #0e1118;
  padding: 12px;
  margin: 8px;
  border-radius: 4px;
}

.btn-g {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #c6c6c6;
}
.btn-g:hover {
  color: #fff;
}
.badge {
  height: 135px;
  width: 239px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 7px;
  box-shadow: 1.5px 1.5px 5px 1px rgba(15, 15, 15, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2a475e;
}
.hormargin {
  margin: 0 0 30px 0;
  height: 117px;
  width: 205px;
}
.badge .eventhead {
  box-sizing: content-box;
  font-size: 22px;
  margin-top: -80px;
}
.badge .eventbot {
  margin-top: -20px;
  box-sizing: content-box;
}
.default1 {
  cursor: pointer;
  background-image: linear-gradient(to right, #1b2735, #2a475e, #1b2735);
}
.default2 {
  cursor: pointer;
  background-image: linear-gradient(to right, #0b407d, #4f8bbc, #0b407d);
}
.default3 {
  cursor: pointer;
  background-image: linear-gradient(to right, #171717, #303030, #171717);
}
.sekiro {
  background-image: url(../images/Sekirowbadge.jpg);
}
.eldenring {
  background-image: url(../images/EldenRingiamge.jpg);
}
.darksouls {
  background-image: url(../images/DarkSoulswbadge.jpg);
}
.thelastofus {
  background-image: url(../images/TheLastofUsbadge.jpg);
}
.seaofthieves {
  background-image: url(../images/SeaofTheivesbadge.jpg);
}
.hogwarts {
  background-image: url(../images/HogwartsLegacyBadge.jpg);
}
.monsterhunter {
  background-image: url(../images/MonsterHunterWorldbadge.jpg);
}
.godofwar {
  background-image: url(../images/GodofWarbadge.jpg);
}
.gowwallpaper1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/GOWWallpaper.jpg);
}
.gowwallpaper2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/GOW2Wallpaper.webp);
}
.melinda {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/MelindaWallpaper.jpeg);
}
.nomanssky {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/NoMansSkyWallpaper.webp);
}
.residentevil {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/ResidentEvilWallpaper.jpg);
}
.hades {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/HadesWallpaper.png);
}
.close {
  margin: 0 0 0 320px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close:hover {
  color: #ffffff;
}

.uploadbox {
  color: #c7d5e0;
  height: 105px;
  width: 105px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #151e29;
  border: 2px dashed #c7d5e0;
}
.uploadbox:hover {
  cursor: pointer;
  background-color: #212e3f;
}
.uploadicon {
  height: 30px;
  width: 30px;
}
.daysuntilbox {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 80px;
  border-radius: 4px;
  background-image: linear-gradient(
    to bottom right,
    rgb(7, 220, 15),
    rgb(13, 201, 114)
  );
  margin: 0 0 -135px 0;
  box-shadow: 0.5px 0.5px 3px 2px rgba(47, 47, 47, 0.8);
}
.playbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 4px;
  background-image: linear-gradient(
    to bottom right,
    rgb(7, 220, 15),
    rgb(13, 201, 114)
  );
  margin: 0 0 -125px 0;
  box-shadow: 0.5px 0.5px 3px 2px rgba(47, 47, 47, 0.8);
}

.hider {
  display: none;
}

.angebotbox {
  border-radius: 4px;
  display: flex;
  height: 33px;
  width: 100px;
  margin: 0 0 -130px 0;
  box-shadow: 0.5px 0.5px 2px 1px rgba(16, 16, 16, 0.8);
}
.angebotbox .prozentbox {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border-radius: 4px 0 0 4px;
  height: 33px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    rgb(7, 200, 13),
    rgb(12, 182, 102)
  );
}
.preisbox {
  border-radius: 0 4px 4px 0;
  height: 33px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #25364b;
}
.preisalt {
  font-size: 10px;
  text-decoration: line-through;
  color: #427ac4;
}

.preisneu {
  font-size: 12px;
  color: rgb(9, 239, 105);
}

.playbutton:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to bottom right,
    rgb(9, 239, 16),
    rgb(14, 222, 125)
  );
}
.playbuttonicon {
  height: 20px;
  width: 20px;
  background-image: url(../images/Play-Button-PNG-Picture.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  height: 25px;
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p a {
  color: #696969;
  font-size: 12px;
  font-style: Arial;
  text-decoration: none;
}
footer p a:hover {
  color: #8e8e8e;
}
