body {
  font-family: "Montserrat", sans-serif;
  background-color: #171a21;
  color: #fff;
  margin: 0;
}
.boxing {
  border: solid 2px red;
}
nav {
  background-color: #171a21;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  list-style: none;
  position: relative;
}

.threept {
  height: 30px;
  width: 30px;
  background-image: url(../images/3pt.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 0 0 20px;
}
.threept:hover {
  background-image: url(../images/3pthover.png);
}
.plus {
  height: 30px;
  width: 30px;
  background-image: url(../images/Plus.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 160px;
}
.plus:hover {
  background-image: url(../images/Plushover.png);
}
nav ul li a {
  color: #cccccc;
  text-decoration: none;
}
nav ul li a:hover {
  color: #fff;
}
nav ul li ul {
  display: none;
  position: absolute;
  background-color: #0e1118;
  margin-top: 6px;
  padding: 7px;
  border-radius: 6px;
  font-size: 12px;
}
nav ul li:hover ul {
  display: block;
}
.steamlogo {
  flex-grow: 1;
  height: 50px;
  width: 110px;
  background-image: url(../images/header_logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  margin-left: 10px;
}

.sortlayer {
  height: 840px;
  width: 98%;
  margin: 0 1% 0 1%;
  background-image: linear-gradient(to right, #3b6491, #1b387e);
  border-radius: 6px;
}
.grid {
  position: relative;
}
.item {
  display: block;
  position: absolute;
  margin: 0 10px;
  z-index: 1;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.group {
  background-image: url(../images/681494.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.groupbox {
  height: 240px;
  width: 910px;
  margin: 7.5px auto;
  background-color: #1b387e;
  border-radius: 6px;
  border: 4px solid #171a21;
}
.friendheader {
  display: flex;
  justify-content: center;
  align-self: center;
}
.friendbox {
  height: 800px;
  width: 260px;
  margin: 7.5px auto;
  background-color: #1b387e;
  border-radius: 6px;
  border: 4px solid #171a21;
}
.friend{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 250px;
}
.status{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.friendavatar{
  width: 70px;
  flex-grow: 1;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  margin-right: 2px;
}
.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.divider{
  margin: 0 0 20px 22px;
  width: 210px;
  border: 1px solid #696969;

}

.searchbarfriend {
  font-family: "Montserrat", sans-serif;
  padding: 0 0 0 15px;
  margin: 5px 0;
  height: 30px;
  background-color: #0e1118;
  color: #696969;
  border: none;
  outline: none;
  border-radius: 6px 0 0 6px;
  }
  .lupe {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    margin: 5px 0;
    height: 30px;
    background-color: #0e1118;
    color: #696969;
    border-radius: 0 6px 6px 0;
  }
  .lupe:hover {
    background-color: #191e2a;
  }
.act{
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.actbadgemax{
  margin: 0 4px 0 6px;
  height: 12px;
  width: 12px;
  background-image: url(../images/Onlinebadge.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.actbadgeduncan {
  margin: 0 4px 0 6px;
  height: 12px;
  width: 12px;
  background-image: url(../images/Nichtstörenbadge.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.avatarpb {
  height: 60px;
  width: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  margin-bottom: -10px;
}
.max {
  background-image: url(../images/266129724_404028944806233_2843987818029489365_n.jpg);
}
.duncan {
  background-image: url(../images/251894087_118871590656916_7333754042763064315_n.jpg);
}
.currgame {
  margin-top: -10px;
  font-size: 13px;
  align-self: flex-start;
}


.currgame p a{
  text-decoration: none;
  color: #fff;
}
.currgame p a:hover{
  color: #c1c1c1;
}
.boxheader {
  height: 25px;
  width: 100%;
  background-color: #0d1937;
  display: flex;
  align-items: center;
  color: #cccccc;
}
.boxheader p {
  margin: 0 0 0 8px;
}
.groupbox p {
  color: #cccccc;
}
.gamegallery {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
ion-icon {
  height: 22px;
  width: 22px;
}
.btn-g {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #c6c6c6;
}
.btn-g:hover {
  color: #fff;
}
.sekiro {
  background-image: url(../images/Sekirowbadge.jpg);
  height: 150px;
  width: 288px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 6px;
  margin: 0 7px;
  box-shadow: 1.5px 1.5px 5px 1px rgba(15, 15, 15, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.eldenring {
  background-image: url(../images/EldenRingiamge.jpg);
  height: 150px;
  width: 288px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 6px;
  margin: 0 7px;
  box-shadow: 1.5px 1.5px 5px 1px rgba(15, 15, 15, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.darksouls {
  background-image: url(../images/DarkSoulswbadge.jpg);
  height: 150px;
  width: 288px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 7px;
  border-radius: 6px;
  box-shadow: 1.5px 1.5px 5px 1px rgba(15, 15, 15, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.playbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 6px;
  background-image: linear-gradient(
    to bottom right,
    rgb(7, 220, 15),
    rgb(13, 201, 114)
  );
  margin: 0 0 -158px 0;
  box-shadow: 0.5px 0.5px 3px 2px rgba(47, 47, 47, 0.8);
}
.playbutton:hover {
  background-image: linear-gradient(
    to bottom right,
    rgb(9, 239, 16),
    rgb(14, 222, 125)
  );
}
.playbuttonicon {
  height: 25px;
  width: 25px;
  background-image: url(../images/Play-Button-PNG-Picture.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  height: 5%;
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p a {
  color: #696969;
  font-size: 12px;
  font-style: Arial;
  text-decoration: none;
}
footer p a:hover {
  color: #8e8e8e;
}
