#global_header,
#content_loading,
#NoMoreContent {
  display: none;
}

body {
  background: linear-gradient(to right, #1b2735, #2a475e, #1b2735) !important;
}

.apphub_background,
.arrow.right,
.arrow.left {
  background-image: unset !important;
}

::-webkit-scrollbar {
  width: 10px !important;
}

::-webkit-scrollbar-track {
  background: #171a21;
}

::-webkit-scrollbar-thumb {
  background: #222731 !important;
  border-radius: 100vw;
}
