---
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout>
  <div class="sortlayer">
    <div class="grid">

      <div class="item">
        <div class="item-content">
          <div class="selectbox">
              <ion-icon id="collection" class="headericonused" name="bookmark"></ion-icon>
              <ion-icon class="headericon" name="people"></ion-icon>
              <ion-icon class="headericonused" name="pricetags"></ion-icon>
              <ion-icon class="headericonused" name="time"></ion-icon>
              <ion-icon class="headericonclose" name="close-circle"></ion-icon>
          </div> 
        </div>
      </div>



      
      
      <div class="item">
        <div class="item-content">
          <div class="friendbox boxing">
            <div class="boxheader paddscroll"><p>FREUNDESLISTE</p></div>
            <div class="searchbar">
              <input
                type="text"
                class="searchbarfriend"
                placeholder="Suche..."
              />
              <div class="lupe">
                <ion-icon name="search-outline"></ion-icon>
              </div>
            </div>

            <div class="friend">
              <div class="friendheader">
                <div class="friendavatar">
                  <div class="avatarpb max"></div>
                  <p>ItsMajo</p>
                </div>
                <div class="status">
                  <div class="act">
                    <p>Status:</p>
                    <div class="actbadgeonline"></div>
                    <p>online</p>
                  </div>
                  <div class="currgame">
                    <p>
                      Spielt: <a
                        href="https://store.steampowered.com/app/292030/The_Witcher_3_Wild_Hunt/?l=german"
                        >Elden Ring</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="divider"></div>

            <div class="friend">
              <div class="friendheader">
                <div class="friendavatar">
                  <div class="avatarpb duncan"></div>
                  <p>Crusade</p>
                </div>
                <div class="status">
                  <div class="act">
                    <p>Status:</p>
                    <div class="actbadgeclosed"></div>
                    <p>closed</p>
                  </div>
                  <div class="currgame">
                    <p class="">
                      Spielt: <a
                        href="https://store.steampowered.com/app/292030/The_Witcher_3_Wild_Hunt/?l=german"
                        >Okami</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="divider"></div>

            <div class="friend">
              <div class="friendheader">
                <div class="friendavatar">
                  <div class="avatarpb makimaa"></div>
                  <p>Makimaa</p>
                </div>
                <div class="status">
                  <div class="act">
                    <p>Status:</p>
                    <div class="actbadgeonline"></div>
                    <p>online</p>
                  </div>
                  <div class="currgame">
                    <p class="">
                      Spielt: <a
                        href="https://store.steampowered.com/app/292030/The_Witcher_3_Wild_Hunt/?l=german"
                        >Dark Souls III</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="divider"></div>

            <div class="friend">
              <div class="friendheader">
                <div class="friendavatar">
                  <div class="avatarpb tim"></div>
                  <p>Take4Tim</p>
                </div>
                <div class="status">
                  <div class="act">
                    <p>Status:</p>
                    <div class="actbadgeoffline"></div>
                    <p>offline</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="divider"></div>

            <div class="friend">
              <div class="friendheader">
                <div class="friendavatar">
                  <div class="avatarpb karl"></div>
                  <p>EchteKarl</p>
                </div>
                <div class="status">
                  <div class="act">
                    <p>Status:</p>
                    <div class="actbadgeonline"></div>
                    <p>online</p>
                  </div>
                  <div class="currgame">
                    <p class="">
                      Spielt: <a
                        href="https://store.steampowered.com/app/292030/The_Witcher_3_Wild_Hunt/?l=german"
                        >No Mans Sky</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="divider"></div>

            <div class="friend">
              <div class="friendheader">
                <div class="friendavatar">
                  <div class="avatarpb jonas"></div>
                  <p>WillTell</p>
                </div>
                <div class="status">
                  <div class="act">
                    <p>Status:</p>
                    <div class="actbadgeonline"></div>
                    <p>online</p>
                  </div>
                  <div class="currgame">
                    <p class="">
                      Spielt: <a
                        href="https://store.steampowered.com/app/292030/The_Witcher_3_Wild_Hunt/?l=german"
                        >Skyrim</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="item-content">
          <div id="collection" class="groupbox">
            <div class="boxheader"><p>MARKIERTE SPIELE</p></div>
            <div class="gamegallery">
              <button class="btn-g"
                ><ion-icon name="chevron-back-outline"></ion-icon></button
              >
              <div class="sekiro badge">
                <div class="playbutton"><div class="playbuttonicon"></div></div>
              </div>
              <div class="eldenring badge">
                <div class="playbutton"><div class="playbuttonicon"></div></div>
              </div>
              <div class="darksouls badge">
                <div class="playbutton"><div class="playbuttonicon"></div></div>
              </div>
              <button class="btn-g"
                ><ion-icon name="chevron-forward-outline"></ion-icon></button>
            </div>
          </div>
        </div>
      </div>
      

      <div class="item">
        <div class="item-content">
          <div class="groupbox">
            <div class="boxheader"><p>ANGEBOTE DEINER WISHLIST</p></div>
            <div class="gamegallery">
              <button class="btn-g"
                ><ion-icon name="chevron-back-outline"></ion-icon></button
              >
              <div class="thelastofus badge">
                <div class="angebotbox">
                  <div class="prozentbox">
                    <p>-50%</p>
                  </div>
                  <div class="preisbox">
                    <div class="preisalt">49,99€</div>
                    <div class="preisneu">24,99€</div>
                  </div>
                </div>
              </div>
              <div class="seaofthieves badge">
                <div class="angebotbox">
                  <div class="prozentbox">
                    <p>-85%</p>
                  </div>
                  <div class="preisbox">
                    <div class="preisalt">39,99€</div>
                    <div class="preisneu">5,99€</div>
                  </div>
                </div>
              </div>
              <div class="hogwarts badge">
                <div class="angebotbox">
                  <div class="prozentbox">
                    <p>-80%</p>
                  </div>
                  <div class="preisbox">
                    <div class="preisalt">20,99€</div>
                    <div class="preisneu">4,19€</div>
                  </div>
                </div>
              </div>
              <button class="btn-g"
                ><ion-icon name="chevron-forward-outline"></ion-icon></button
              >
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="item-content">
          <div class="groupbox">
            <div class="boxheader"><p>BEVORSTEHENDE EVENTS</p></div>
            <div class="gamegallery">
              <div class="badge">
                <h1 class="eventhead">BLACK FRIDAY</h1>
                <p class="eventbot">beginnt in:</p>
                <div class="daysuntilbox">
                  <p>01:13:45</p>
                </div>
              </div>
              <div class="badge">
                <h1 class="eventhead">CYBER MONDAY</h1>
                <p class="eventbot">beginnt in:</p>
                <div class="daysuntilbox">
                  <p>04:13:45</p>
                </div>
              </div>
              <div class="badge">
                <h1 class="eventhead">H1Z1 LAUNCH</h1>
                <p class="eventbot">beginnt in:</p>
                <div class="daysuntilbox">
                  <p>32:11:12</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>
</Layout>
