---
import "../styles/style.css";
---
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SteamHomescreen</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <script src="../scripts/main.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="#"><div class="threept"></div></a>
                <ul>
                    <li><a href="#">Steam</a></li>
                    <li><a href="#">Ansicht</a></li>
                    <li><a href="#">Freunde</a></li>
                    <li><a href="#">Spiele</a></li>
                    <li><a href="#">Hilfe</a></li>
                    <li><a href="#">Importieren</a></li>
              </ul>
            </li>
        </ul>
        <div class="steamlogo"></div>
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="https://store.steampowered.com/">SHOP</a></li>
            <li><a href="https://store.steampowered.com/">BIBLIOTHEK</a></li>
            <li><a href="https://steamcommunity.com/">COMMUNITY</a></li>
            <li>
            <a href="#"><div class="plus"></div></a>
            <ul>
                <li><div class="item group" id="item" draggable="true"></div></li>
         </ul>
        </li>
    </ul>

    </nav>
    <div class="sortlayer">
        <div class="grid">
            <div class="item">
              <div class="item-content">
                First
              </div>
            </div>
          
            <div class="item">
              <div class="item-content">
               Second
              </div>
            </div>
            <div class="item">
                <div class="item-content">
                 Third
                </div>
              </div>
              <div class="item">
                <div class="item-content">
                fourth
                </div>
              </div>
              <div class="item">
                <div class="item-content">
                 Fifth
                </div>
              </div>
          </div>
    </div>
<footer>
<p><a href="#">Aktuell (4) Downloads ausstehend</a></p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/muuri@0.9.5/dist/muuri.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.1/web-animations.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0"></script>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>



<!--<div class="groupbox">
            <div class="boxheader"><p>MARKIERTE SPIELE</p></div>
            <div class = "gamegallery">
                <button class="btn-g"><ion-icon name="chevron-back-outline"></ion-icon></button>
                <div class="sekiro"><div class="playbutton"><div class="playbuttonicon"></div></div></div>
                <div class="eldenring"><div class="playbutton"><div class="playbuttonicon"></div></div></div>
                <div class="darksouls"><div class="playbutton"><div class="playbuttonicon"></div></div></div>
                <button class="btn-g"><ion-icon name="chevron-forward-outline"></ion-icon></button>
            </div>
        </div> -->