---
import "@fontsource/montserrat/latin.css";
import "../styles/style.css";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Steam</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="../scripts/main.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="#"><div class="threept"></div></a>
          <ul>
            <li><a href="#">Steam</a></li>
            <li><a href="#">Ansicht</a></li>
            <li><a href="#">Freunde</a></li>
            <li><a href="#">Spiele</a></li>
            <li><a href="#">Hilfe</a></li>
            <li><a href="#">Importieren</a></li>
          </ul>
        </li>
      </ul>
      <div class="steamlogo"></div>
      <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="https://store.steampowered.com/">SHOP</a></li>
        <li><a href="https://store.steampowered.com/">BIBLIOTHEK</a></li>
        <li><a href="https://steamcommunity.com/">COMMUNITY</a></li>
        <li>
          <a href="#"><div class="plus"></div></a>
          <ul class="scrolllist">
            <li>
              <div class="iconbox headericonused">
                <ion-icon name="bookmark"></ion-icon>hor
              </div>
            </li>
            <li>
              <div class="iconbox headericonused">
                <ion-icon name="bookmark"></ion-icon>ver
              </div>
            </li>
            <li>
              <div class="iconbox headericon">
                <ion-icon name="people"></ion-icon>hor
              </div>
            </li>
            <li>
              <div class="iconbox headericon">
                <ion-icon name="people"></ion-icon>ver
              </div>
            </li>
            <li>
              <div class="iconbox headericon">
                <ion-icon name="pricetags"></ion-icon>hor
              </div>
            </li>
            <li>
              <div class="iconbox headericon">
                <ion-icon name="pricetags"></ion-icon>ver
              </div>
            </li>
            <li>
              <div class="iconbox headericon">
                <ion-icon name="time"></ion-icon>hor
              </div>
            </li>
            <li>
              <div class="iconbox headericon">
                <ion-icon name="time"></ion-icon>ver
              </div>
            </li>
            <li>
              <div class="iconbox headericon">
                <ion-icon name="close-circle"></ion-icon>hor
              </div>
            </li>
            <li>
              <div class="iconbox headericon">
                <ion-icon name="close-circle"></ion-icon>ver
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <slot />
    <footer>
      <p><a href="#">Aktuell (4) Downloads ausstehend</a></p>
    </footer>
  </body>
</html>
